body, html{

	height: 100%;
	/*
	background-image: url("./photos/img5.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;*/

	background-color: #FFA07A;
}

.navbar{

	background: transparent;
	width: 20%;
}

.navbar-collapse{

	background: white;
	box-shadow: 0 4px 8px 0 gray;
}

.title{

	margin-top: 20px;
	margin-bottom: 20px;
}

.icons{

	margin-top: 20px;
	margin-bottom: 20px;
}

.icons a{

	color: black !important;
}

.projects-toggle{

	list-style-type: none;
}

.navbar-toggler{

	background-color: white;
	border-color: black !important;
	border-bottom-width: 2px;
	border-right-width: 2px;
	margin-bottom: 15px;
	margin-top: 10px;
	height: 40px;
	-webkit-transition-duration: 0.2s; /*change button color at hover*/
	transition-duration: 0.2s;
}

.navbar-toggler:hover{

	background-color: #e7e7e7; /*change to light gray*/
}

.burger{

	height: 2px;
	width: 24px;
	background-color: black;
	margin-top: 4px;
	margin-bottom: 4px;
	-webkit-transition: all 50ms;
	transition: all 50ms;
}

.navbar-toggler[aria-expanded = "true"] #top{
	margin-top: 0px; /*so the X is centered in the box*/
	position: absolute;
	-ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}

.navbar-toggler[aria-expanded = "true"] #middle{
	margin-top: 0px; /*so the X is centered in the box*/
	position: absolute;
	-ms-transform: rotate(135deg);
	-webkit-transform: rotate(135deg);
	transform: rotate(135deg);
}

.navbar-toggler[aria-expanded = "true"] #bottom{

	visibility: hidden;
}

#intro{

	padding-top: 100px;
}

#intro .jumbotron{

	padding: 30px;
	background: white;
	box-shadow: 0 4px 8px 0 gray;
}

#intro .jumbotron #portrait{

	width: 200px;
	border-radius: 20%;
}

#intro .jumbotron p{

	width: 300px;
}

#intro .jumbotron a{

	color: black !important;
}

#foodieDescription{

  padding-top: 100px;
}

#foodieDescription .jumbotron{

	background: white;
	padding: 30px;
	box-shadow: 0 4px 8px 0 gray;
}

#foodieDescription .jumbotron p{

	width: 400px;
}

.modal #ateOut{

  display: none;
}

#favoritePodDescription{

  padding-top: 100px;
}

#favoritePodDescription .jumbotron{

	background: white;
	padding: 30px;
	box-shadow: 0 4px 8px 0 gray;
}

#favoritePodDescription .jumbotron p{

	width: 400px;
}

#entries .jumbotron{

	box-shadow: 0 4px 8px 0 gray;
	background: white;
	margin-left: auto;
	margin-right: auto;
}

#entries .jumbotron p{

	width: 500px;
}

@media (max-width: 768px) {

	.navbar{
		width: 35%;
	}
}

@media (max-width: 414px) {

	.navbar{

		width: 60%;
	}

	#intro, #foodieDescription{

		padding-top: 70px;
		margin-left: 20px;
		margin-right: 20px;
	}

	#intro .jumbotron #portrait{

		width: 130px;
		border-radius: 20%;
	}

	#foodieDescription .jumbotron p{

		width: 300px;
	}

	#entries .jumbotron p{

		width: 350px;
	}

}
